<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
  <meta charset="UTF-8">
  <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Books</th>
  </tr>

  <tr th:each="author : ${authors}">
    <td th:text="${author.id}">123</td>
    <td th:text="${author.firstName}">Eric</td>
    <td th:text="${author.lastName}">Evans</td>
    <td>
      <ul th:each="book : ${author.books}">
        <li th:text="${book.title}">Domain Driven Design</li>
      </ul>
    </td>
  </tr>

</table>

</body>
</html>